.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #aed581;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px; /* Rounded corners */
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    color: #1b5e20;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px; /* Rounded corners */
  }
  
  .profileBubble {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profileInfo h2 {
      margin: 0;
      color: white;
      font-family: 'Roboto', sans-serif;
  }
  
  .profileInfo p {
    margin: 0;
  }
  
  .username {
    display: flex;
    align-items: center;
  }
  
  .userBubble {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1b5e20;
    margin-right: 10px;
  }
