.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #1b5e20; /* Dark green background */
  color: white;
  padding: 10px 40px; /* Increased padding for better spacing */
  border-radius: 50px; /* Softening edges */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adding shadow for depth */

  /* Debug border */
  /* border: solid red; */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
  display: inline;
  margin-right: 30px; /* Reduced margin for better spacing */
}

.button {
  background-color: #2c892f;
  color: white;
  padding: 10px 20px;
  font-size: 18px; /* Slightly reduced font size */
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth color transition */
  font-family: 'Roboto', sans-serif; /* More professional font */
}

.navbar a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  transition: color 0.3s ease; /* Smooth color transition */
  font-family: 'Roboto', sans-serif; /* More professional font */
}

.website {
  margin-left: 40px;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif; /* Using a common sans-serif font */
}

.button:hover {
  background-color: #1b5e20; /* Dark green hover color */
}

.navbar a:hover {
  color: #2c892f; /* Light green hover color */
}
