.container {
    width: 80%;
    margin: 0 auto;
    margin-right: 17%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .searchBar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .filterContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .filterButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1b5e20;
    color: white;
    cursor: pointer;
  }
  
  .searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .searchBar input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #1b5e20; /* Dark green border */
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
  }
  
  .searchButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1b5e20;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
  }
