.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #aed581;
    border-radius: 10px; /* Rounded corners */
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profileBubble {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1b5e20;
    margin-right: 10px;
  }
  
  .profileInfo h2 {
      margin: 0;
      color: #1b5e20; /* Dark green */
      font-family: 'Roboto', sans-serif;
  }
  
  .profileInfo p {
    margin: 0;
  }
  
  .settingsButton {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1b5e20; /* Dark green button */
    color: white; /* White text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-family: 'Roboto', sans-serif; 
  }
  
  .button {
    background-color: #1b5e20;
    color: white;
    width: 30%;
    padding: 10px;
    margin: 20px;
    font-size: 25px;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
  }
