.item_box {
  border: 1px solid black;
  margin: 2px;
  display: flex;
  align-items: center;
  width: 32%;
  height: 30vh;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.item_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 60%;
  height: 100%;
  background-color: rgb(145, 180, 162);
  margin: 7px;
  border: solid black 1px;
}

.info {
  display: flex;
  height: 100%;
  flex: 1;
  align-items: column;
  flex-direction: column;
  border-radius: 5px;
  border: solid black 1px;
  margin: 3px;
}

.description {
  background-color: rgb(16, 123, 82);
  margin: 2px;
  border-radius: 5px;
  flex: 3;
}

.user {
  background-color: rgb(168, 168, 195);
  height: 40px;
  margin: 2px;
  flex: 1;
  border-radius: 5px;
}
